.home-page-outer-container {
    height: 100vh; /* Full viewport height */
    display: flex;
    flex-direction: column;
}

.three-containers {
    height: 30%; /* Bottom section takes 30% of the height */
    display: flex;
    justify-content: space-around; /* Space between each small container */
    align-items: center;
    padding: 20px;
}

.homeSliderPhotos {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-top: 120px;
}

.small-container {
    width: 30%; /* Each small container takes 30% of the width */
    height: 80%; /* Adjust height proportionally */
    background-color: #f3f3f3; /* Light gray background */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional: Add shadow for depth */
    text-align: center;
}

.slider {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 500px; /* Adjust for dot position */
    position: relative;
}
/* Center the dots */
.slick-dots {
    position: absolute;
    bottom: 10px; /* Adjust the position as needed */
    display: flex !important;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 15%;
}

/* Style individual dots */
.slick-dots li button {
    width: 10px; /* Adjust size */
    height: 10px; /* Adjust size */
    border-radius: 50%; /* Make them circular */
    background-color: rgba(255, 255, 255, 0.5); /* Light white color with transparency */
    border: none;
    outline: none;
    cursor: pointer;
}

/* Add space between dots */
.slick-dots li {
    position: unset;
}

/* Highlight the active dot */
.slick-dots .slick-active button {
    background-color: white; /* Solid white for the active dot */
    width: 12px; /* Slightly larger active dot */
    height: 12px; /* Slightly larger active dot */
}
